.svn
autom4te.cache
m4
*.o
*.a
*.gcda
*.gcno
*.Po
*.exe
.libs
src/xmldiff
config.log
config.status
debian
libtool
libxmldiff.pc
Makefile
# Other local env garbage
output.xml
bin/.cvsignore
build/vc/.cvsignore
build/vc/libxmldiff.sln
build/vc/libxmldiff.vcproj
build/vc/xmldiff.sln
build/vc/xmldiff.vcproj
build/vc2017/libxmldiff.mk
build/vc2017/libxmldiff.project
build/vc2017/Makefile
build/vc2017/xmldiff.mk
build/vc2017/xmldiff.project
build/vc2017/xmldiff.workspace
build/vc2017/.codelite
doc/libxmldiff.dox.bak
src/Makefile.xmldiff
src/rapport.info
